Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.env.staging
.env.production
.git
.gitignore
.next
.nyc_output
.coverage
.cache
.parcel-cache
*.log
.DS_Store
*.tsbuildinfo
next-env.d.ts
.vscode